@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: url('../img/bg_wood_pattern.png');
}

.controls > .radio:first-child, .controls > .checkbox:first-child {
    margin-top: -2px;
}

#whatis, #signup, #logo-header{
    margin-top: 10px;
    text-align:center;
    background: #fff;
    border-radius: 15px;
    padding: 15px 0;
}

#signup form {
    padding: 0 30px;
}

#whatis p {
    text-align: left;
    padding: 0 30px;
}

.logo {
    color: #3b3c62;
    font-weight: bold;
    letter-spacing: -.05em;
    font-family: 'Montserrat', sans-serif;
}

#logo-header h1 {
    font-size: 7em;
    background-size: 100%;
    padding-right: 15px;
}