@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: url('../img/bg_wood_pattern.png');
}

.controls > .radio:first-child, .controls > .checkbox:first-child {
    margin-top: -2px;
}

.what, #contactUs, #follow, #brand, #signup, #logo-header{
    margin-top: 25px;
    background: #fff;
    border-radius: 15px;
    padding: 15px 0;
}

.alert {
    border-radius: 0;
}

h2, #contactUs, #signup, #brand, #follow {
    text-align:center;
}

#signup form {
    padding: 0 30px;
}

.what p, .what h4, #signup p {
    text-align: left;
    padding: 0 30px;
}

.what h4 {
    margin: 20px 0 5px 0;
    font-weight: bold;
}
.logo {
    color: #3b3c62;
    font-weight: bold;
    letter-spacing: -.05em;
    font-family: 'Montserrat', sans-serif;
}

#logo-header h1 {
    font-size: 7em;
    background-size: 100%;
    padding-right: 15px;
}

.socialIcons {
    display: inline;
    margin: 0 5px;
}

@media (max-width: 480px) {
    #brand {
        display: none;
    }

    .wide {
        display: none;
    }
}

@media (min-width: 480px) {
    .narrow {
        display: none;
    }
}